<!-- TODO application page has not been componetized  would be very simple to create reusable template for user lists -->
<!-- TODO make lists responsive.  Identify if team has grid system or preferred library.  Identify devices and browsers supported -->

<article class="grid">
  <header class="grid">
    <div class="title-container">
      <h1>Coding Test</h1>
    </div>
  </header>
  <main class="content grid" id="home-content">
    <div class="content-title-container">
      <h2>Accounts</h2>
    </div>
    <section class="grid" id="account-grid">
      <section class="account-column grid" id="active-account-column">
        <div class="account-container-title" id="active-account-container-title">
          <h3>Active</h3>
        </div>
        <div class="account-container active-account" >
          <ul *ngFor="let account of newAccountsActive" class="account-data-list">
            <li><label>Name:</label>{{account?.LastName}}, {{account?.FirstName}}</li>
            <li><label>Email:</label>{{account?.Email}}</li>
            <li><label>Phone Number:</label>{{account?.PhoneNumber | phoneNumber:'US'}}</li>
            <li><label>Amount Due:</label>{{account?.AmountDue | currency }}</li>
            <li *ngIf="account.PaymentDueDate"><label>Due Date:</label>{{account?.PaymentDueDate | date: 'shortDate'}}</li>
          </ul>
        </div>
      </section>
      <section class="account-column grid" id="overdue-account-column">
        <div class="account-container-title" id="overdue-account-container-title">
          <h3>Overdue</h3>
        </div>
        <div class="account-container overdue-account">
          <ul class="account-data-list" *ngFor="let account of newAccountsOverdue">
            <li><label>Name:</label>{{account.LastName}}, {{account.FirstName}}</li>
            <li><label>Email:</label>{{account.Email}}</li>
            <li><label>Phone Number:</label>{{account.PhoneNumber | phoneNumber:'US'}}</li>
            <li><label>Amount Due:</label>{{account.AmountDue}}</li>
            <li *ngIf="account.DueDate"><label>Due Date:</label>{{account.DueDate}}</li>
          </ul>
        </div>
      </section>
      <div class="account-column grid" id="inactive-account-column">
        <div class="account-container-title" id="inactive-account-container-title">
          <h3>Inactive</h3>
        </div>
        <div class="account-container inactive-account">
          <!-- safe operator added in the case that real data differs in any way from mock data passed -->
          <ul class="account-data-list" *ngFor="let account of newAccountsInactive">
            <li><label>Name:</label>{{account?.LastName}}, {{account.FirstName}}</li>
            <li><label>Email:</label>{{account?.Email}}</li>
            <li><label>Phone Number:</label>{{account?.PhoneNumber | phoneNumber:'US'}}</li>
            <li><label>Amount Due:</label>{{account?.AmountDue}}</li>
            <li *ngIf="account.DueDate"><label>Due Date:</label>{{account?.DueDate}}</li>
          </ul>
        </div>
      </div>
    </section>
  </main>
  <footer class="grid">
    <p class="copy">&copy;<script>document.write(new Date().getFullYear())</script></p>
  </footer>
</article>

<!-- set up lazy loading feature to for performance -->
<!-- <router-outlet></router-outlet> -->
